/*logo*/
.main-logo {
    background-color: white
}

    .main-logo img {
        top: 0 !important
    }

/*menu*/
.x-treelist-navigation .x-treelist-item-icon, .x-treelist-navigation .x-treelist-item-tool {
    color: #FFC900 !important;
}

.x-treelist-navigation .x-treelist-item-text {
    color: #fff !important;
}

.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row:before {
    background-color: #FFC900 !important;
}

/*button*/
.x-btn-soft-blue-small {
    -webkit-border-radius: 0.2rem !important;
    -moz-border-radius: 0.2rem !important;
    -ms-border-radius: 0.2rem !important;
    border-radius: 0.2rem !important;
    /* border-radius: 0.2rem !important; */
    background-color: #6512c2 !important;
}

.x-btn-soft-blue-small {
    border-color: #6512c2 !important;
}

.x-btn-soft-red-small {
    -webkit-border-radius: 0.2rem !important;
    -moz-border-radius: 0.2rem !important;
    -ms-border-radius: 0.2rem !important;
    border-radius: 0.2rem !important;
    /* border-radius: 0.2rem !important; */
    /*background-color: #6512c2 !important;*/
}

.x-btn-soft-green-small {
    -webkit-border-radius: 0.2rem !important;
    -moz-border-radius: 0.2rem !important;
    -ms-border-radius: 0.2rem !important;
    border-radius: 0.2rem !important;
    /* border-radius: 0.2rem !important; */
    /*background-color: #6512c2 !important;*/
}


/*header*/
.x-panel-header-title-light {
    color: #170085 !important;
}

.x-window-header-default {
    border-width: 2px !important;
    background-color: #170085 !important;
}

    .x-window-header-default .x-tool-img {
        background-color: #170085 !important;
    }

/*tabbar*/
.x-tab-bar-default {
    background-color: #ebedf2 !important;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
    color: #1d3dd8 !important;
}

.x-tab.x-tab-active.x-tab-default .x-tab-icon-el {
    color: #170085 !important;
}

.x-tab-inner-default {
    color: #000 !important;
}

.x-tab-text.x-tab-icon-left > .x-tab-icon-el-default {
    color: #000 !important;
}

.x-panel-header-title-light > .x-title-icon-wrap-light > .x-title-icon-light {
    color: #170085 !important;
}

.vuotNguong {
    color: red !important;
}

.duoiNguong {
    color: orange !important;
}

.trongNguong {
    color: green !important;
}

/*SweetAlert*/
.swal2-container {
    z-index: 99999 !important;
}
